body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    background-color: #333;
    color: lightgrey;
}

#wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;
}

#sidebar {
    width: 15%;
    background-color: #222;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.copy-btn {
    display: inline-block;
    padding: 5px 10px;
    margin-top: -20px;
    /* Position it right above the margin-bottom of the code block */
    margin-bottom: 20px;
}

#new-chat-button {
    word-wrap: break-word
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#chat-header {
    padding: 20px 0px;
    width: 100%;
}

#chat-area {
    width: auto;
    background-color: #333;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    overflow-y: auto;
}

#chat-footer {
    padding: 20px;
    width: auto;
    display: flex;
    height: auto;
    align-items: end;
}

input {
    flex-grow: 1;
    padding: 10px;
    margin: auto;
    border: 2px solid #654;
    border-radius: 4px;
    outline: none;
    background-color: #222;
    color: lightgrey;
}

#message-input {
    margin-right: 10px;
}

.user-message-container {
    display: flex;
    padding-top: 30px;
    word-wrap: break-word;
    flex-direction: column;
    width: auto;
    align-items: flex-end;
}

.user-message-container .image {
    border-radius: 4px 4px 0px 0px;
    word-wrap: break-word;
    width: 48px;
    background-color: #654
}

.user-message-container .message {
    background-color: #654;
    border-radius: 4px 0px 4px 4px;
    word-wrap: break-word;
    width: 80%;
    flex-direction: column;
    padding: 10px;
}


.orion-message-container {
    display: flex;
    padding-top: 30px;
    word-wrap: break-word;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
}

.orion-message-container .image {
    border-radius: 4px 4px 0px 0px;
    word-wrap: break-word;
    width: 48px;
    background-color: #456;
}

.orion-message-container .message {
    border-radius: 0px 4px 4px 4px;
    word-wrap: break-word;
    width: 80%;
    flex-direction: column;
    padding: 10px;
    background-color: #456;
}

#file-label {
    cursor: pointer;
    margin-right: 10px;
    font-size: 24px;
    width: 24px;
}

#file-input-image {
    width: auto;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #456;
    cursor: pointer;
    outline: none;
    color: lightgrey;
}

button:hover {
    background-color: #654;
}

button:active {
    background-color: #222;
}

pre code.hljs {
    display: block;
    padding: 1em;
    text-wrap: wrap;
}

code.hljs {
    padding: 3px 5px;
}

.hljs {
    background: #222;
    color: #aaa;
}

.hljs-comment {
    color: #282
}

.hljs-punctuation,
.hljs-tag {
    color: #aaa
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: #aaa
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 700
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: #800
}

.hljs-section,
.hljs-title {
    color: #800;
    font-weight: 700
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #ab5656
}

.hljs-literal {
    color: #695
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #397300
}

.hljs-meta {
    color: #1f7199
}

.hljs-meta .hljs-string {
    color: #38a
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}